teacher new

</br>
<div id="topicList">
  <table class="feedbackTopic">
          <thead>
		  <tr><th>主題</th><th>姓名</th><th>時間</th></tr>
          </thead>
           <tbody>
                  <% @showFeedbacks.each do |show| -%>
			  <tr>
                                <td><%=link_to show.topic, teacher_path(show)%></td>
                                <td><%=show.name%></td>
				<td><%=show.updated_at%></td>
                          </tr>

                  <% end-%>
          </tbody>
  </table>
</div>


