<div style="width:900px; margin: 0 auto;">
        <h2><font face="微軟正黑體" size="5" color="#7f0000"><b>關於我們</b></font></h2>
        <font face="微軟正黑體" size="4">
	富光國中發展夢想學校多年，打造校園為實現孩子夢想的地方。
	富光國中希望學生適性發展，自辦國三選修技藝學程，分別為商管、設計、農藝、餐旅學程，培養感興趣的學生一技之長，這次辦理假日夢想藝文客棧，成為學生體驗創業歷程的學習，學生自主經營，老師角色為輔導。結合當地產業，關西以農藝為主，配合學生專長發展，商管、設計、農藝、餐旅分工合作，終於可以在1/26日第一次經營。
        </font>
	</br></br>
	<%=image_tag("#{'aboutus.png'}")%>
	</br>
</div>

