<div style="width:900px;margin: 0 auto; background-color:yellow; height:1000px;">
	<div style="width:900px;height:250px">
		<div style="float:right" onmouseover='outside.src="/assets/out3.png"' onmouseout='outside.src="/assets/out1.png"'>
			<img name="outside" src="/assets/out1.png" width="400px" height="240px"></img>
		</div>
	</div>
        <div style="width:900px;height:250px">
                <div style="float:right">
                        <img name="human" src="/assets/sell1.png" width="400px" height="240px"></img>
                </div>
        </div>        
	<div style="width:900px;height:250px">
                <div style="float:right">
                        <img name="human" src="/assets/diy3.png" width="400px" height="240px"></img>
                </div>
        </div>
        <div style="width:900px;height:250px">
                <div style="float:right">
                        <img name="human" src="/assets/flower1.png" width="400px" height="240px"></img>
                </div>
        </div>

</div>

<script>
        function movepic(id, img_src) {
                document.getElementById("briefintro_pic").src=img_src;
        }
</script>
