<div style="width:900px; margin: 0 auto;">

	<h2><font face="微軟正黑體" size="5" color="7f0000"><b>未來展望</b></font></h2>
    	<font face="微軟正黑體" size="4">
	&nbsp; &nbsp; 未來，富光國中將打造藝文及鄉土景點導覽教室，培養學生用中文、英文、客語來做觀光導覽，保留台三線客家文化、客家語言，留下母語，未來也有商機。可以成為遊客中心，由導覽可以學到口語表達能力，人際溝通力，熱愛鄉土情懷，培養自信…等未來人才優質活力。</br></br>
&nbsp; &nbsp; 結合學校發展地方產業，讓學生有在地情懷及創業經驗，並帶動羅馬公路的觀光及農產品行銷。學校營造環境氛圍，使學生有高度意願參與, 家長也會參與，共襄盛舉，帶動羅馬公路的活力。</br>
    	</font>
	
        <h2><font face="微軟正黑體" size="5" color="#7f0000"><b>行動咖啡車</b></font></h2>
        <font face="微軟正黑體" size="4">
	&nbsp; &nbsp; 另外，募款購買行動咖啡車，取名『夢想POWER車』捐給羅馬公路上的偏遠學校-富光國中；或與企業合作贊助，尤其是觀光餐飲業更好，互利模式。
        </font>
</div>
