<div style="width:900px; margin: 0 auto;">
        <h2><font face="微軟正黑體" size="5" color="#7f0000"><b>未來展望</b></font></h2>
        <font face="微軟正黑體" size="4">
	募款購買行動咖啡車，取名『夢想POWER車』捐給羅馬公路上的偏遠學校-富光國中；或與企業合作贊助，尤其是觀光餐飲業更好，互利模式。
        </font>
