<div style="margin: 0 auto; width:900px; height:auto">
    <h2><font face="微軟正黑體" size="5" color="7f0000"><b>課程</b></font></h2>
    <font face="微軟正黑體" size="4">
        課程部分：由師生一起指導遊客親手做光明陶藝品DIY，讓遊客體驗捏陶.燒陶.作品可帶回家紀念(富光國中有陶藝教室.設備齊全.全校師生都會做陶藝品)； 學生與外界接觸，從不同人身上學到相處的經驗。
	</br></br>
	<%=image_tag("#{'diy1.png'}")%>
	</br>
	</br>
	另有水耕蔬菜DIY,土耕蔬菜體驗.跆拳道體驗,客家八音指導等，並結合師生藝文表演、作品展覽等。
	</br>
	</br>
	<%=image_tag("#{'vega.png'}")%>

    </font>
    </br>
    </br>


</div>
