<div style="margin: 0 auto; width:900px; height:800px">
    <font face="微軟正黑體" size="4">
    『富光夢想藝文客棧』，於寒暑假周六才舉行，希望與社區結合，發展遊客觀光休息，義賣校園富貴茶、光明陶、夢想咖啡、智慧點心 ,及戶外藝文表演、水耕蔬菜DIY活動…等，歡迎大家來作客。</br></br>
    </font>
    <h2><font face="微軟正黑體" size="5" color="7f0000"><b>活動簡介</b></font></h2>
    <font face="微軟正黑體" size="4">
    1. 在寒暑假開辦.提供單車客及重機群...遊客.休息小憩</br></br>
    2. 戶外.有Good view.技藝學程學生創業服務.提供點心.茶.咖啡等</br></br>
    3. 還可欣賞師生藝文表演.羅馬公路及關西景點導覽解說</br></br>
    4. 參加陶藝DIY.水耕蔬菜DIY.開心農場.客家八音...等自選遊學課程</br></br>
    </font>
    </br>
    </br>


  <div style="width:500px;float:left;">
    <h2><font face="微軟正黑體" size="5" color="7f0000"><b>活動目標</b></font></h2>
    <font face="微軟正黑體" size="4">
    1.讓學生有創業經驗.扶貧助學</br></br>
    2.幫忙鼓勵大家一起響應，讓捐款贊助者發光發亮，成為發財金</br></br>
    3.富有一生.光明一輩子，讓這些孩子從此能自給自足進德修業</br></br>
    4.開張時再請大家共襄盛舉</br></br>
    5.下一代需要自立自強，更需要我們的扶持</br></br>
    6.讓別人的孩子幸福，自己的孩子才會更幸福哦!</br></br>
    </font>
  </div>
  <div style="width:400px; height:500px; float:left;">
    <div style="margin-top:70px;"><%=image_tag("#{'school.png'}")%></div>
  </div>
</div>
