/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#back-bar {
  height:30px;
  background-color: #404040;
  border-radius: 10px;
}

#back-bar ul {

  list-style:none;
  margin-top: 0px;
  padding:0px;
  border-style:none;
}

#back-bar li {
  width: 100px;
  float: right;
  text-align: center;
  margin-right: 3px;
  margin-top: 5px;
  height: 30px;
}

#back-bar li a {
  list-style-type:none;
  font-size: 16px;
  color:white;
}

#all {
  position:absolute;
  height: auto; 
  width: 1000px; 
}

#top {
  height: 202px; 
  width: 1000px;
  border-top-style:solid; 
  border-bottom-style:solid;
  border-width:5px;
  border-color: transparent;
}

#top-left {
  height: 202px; 
  width: 500px;
  border-right-style: solid;
  border-width: 5px; 
  border-color: transparent; 
  float: left;
}

#top-right {
  height: 202px; 
  width: 494px; 
  background-color: #ffffff; 
  float: left;
}

#top-right-briefintro {
  height: 160px;
  width: 470px;
  text-align:right;
  background-color: #ffffff;
  float: left;
}

#top-right-bar {
  height: 30px;
  width: 494px;
  float: right;
}

#top-right-bar ul {
  
  list-style:none;
  margin-top: 0px;
  padding:0px;
  border-style:none;
}

#top-right-bar li {
  width: 100px;
  float: right;
  text-align: center;
  margin-right: 3px;
  height: 30px;
}

#top-right-bar li a {
  list-style-type:none;
  font-size: 15px;
  color: #607f40;
}

#main {
  height: auto; 
  width: 1000px; 
  background-color: white;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

#bottom {
  text-align:center;
  width: 1000px;
  height: 100px;
  background-color: #7f7f7f;

  margin-top: 10px;
}
