// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topicList {
  width: 90%;
  margin: 0 auto;
  height: auto;
  background-color: white;
}

#feedbackForm {
  width: 90%;
  margin: 0 auto;
}

#feedbackTopic {
  border-bottom: 2px solid #7f7f7f;
}

#feedback {
  width: 90%;
  margin: 0 auto;
  height: auto; 
  border-bottom: 2px solid #7f7f7f;
}

#answerContext {
  height: auto;
  width: 900px;
  float: right;
  background-color: #cff6ff;
}

#topicList table{
  
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
#topicList table th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
#topicList table th, #topicList table td {
  padding: 4px;
  text-align: left;
}

#discussDiv {
  width:600px;
  margin: 0 auto;
}

#discuss table th {
  border-bottom: 2px solid #7f7f7f;
}

