// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-jcoverflip--item {
  position: absolute;
  display: block;
}


#topicList {
  width: 90%;
  margin: 0 auto;
  height: auto;
  background-color: white;
}


#feedbackForm {
  width: 90%;
  margin: 0 auto;
}

#feedbackTopic {
  border-bottom: 2px solid #7f7f7f;
}

#feedback {
  width: 90%;
  margin: 0 auto;
  height: auto; 
  border-bottom: 2px solid #7f7f7f;
}

#feedbackContext {
}

#answerContext {
  height: auto;
  width: 80%;
  margin-right: 5%;
  float: right;
  background-color: #cff6ff;
  border-radius: 15px;
}

#answerContext table td {
  border-bottom: 1px solid #7f7f7f;
  border-radius: 10px;
}

#topicList table{
  
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
#topicList table th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
#topicList table th, #topicList table td {
  padding: 4px;
  text-align: left;
}

#discussDiv {
  width:600px;
  margin: 0 auto;
}

#discussDiv table td {
  border-bottom: 2px solid #7f7f7f;
}

#feedback_context {
  border: 3px solid #cccccc;
  width: 600px;
  height: 120px;
  word-break:break-all;
}

#discuss_context {
  border: 3px solid #cccccc;
  width: 600px;
  height: 120px;
  word-break:break-all;
}
